
html{
    background-color:rgb(0, 0, 0);
    margin: 20px;
}
*{
    margin: 3px;
    padding: 0;
}

:root{
    --primary-color: #3862f8;
    --secondary-color: #fdfdfd;
    --background-color: #000000;
    --text-color: #ffffffeb;
}
h1{
    color: var(--primary-color);
    text-align: center;
}
h2,h3{
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 20px;
}
body{
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    max-width: 1200px;
    margin: auto auto;
    

}

p{
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
}

img{
    height: 200px;
}
footer{
    opacity: 0.8;
}
header{
    margin-top: 20px;
    text-align: center;
}

#menu{
    display: flex;
    justify-content: center;
    gap: 20px;


    list-style: none;
    padding: 20px;
}
#menu li a{
    color: var(--text-color);
    text-decoration: none;
}
#menu li a:hover{
    color:var(--primary-color);
}
.lista2
{
    list-style: none;
}
.lista2 li a{
    color: var(--text-color);
    text-decoration: none;
}
.lista2 li a:hover{
    color: var(--primary-color);
}

@media (max-width: 1210px) 
{
    body
    {
        max-width: 900px;
    }

}
@media (max-width: 300px) 
{
    img
    {
        height: 160px;
    }
}
@media (max-width: 255px) 
{
    img
    {
        height: 100px;
    }
    #menu{
    display: flex;
    flex-direction: column;
    }
}
   

