
:root{
    --primary-color: #0f172a;
    --accent-color: #3862f8;
    --text-color: #ffffff;
    --bg-color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 40px;
    font-family: Arial, sans-serif;
    background-color: black;
    color: var(--text-color);
    line-height: 1.6;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    background-color: #2e2e2e85;
    padding: 40px;
    border-radius: 8px;
    border-top: 2px solid var(--accent-color);

}
.soc-dashboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding: 20px;
    max-width: 1500px;
    margin: 0 auto;
}

@media (max-width: 1055px) 
{
    .soc-dashboard{
        grid-template-columns: 1fr 1fr;
    }
  

    
}

@media (max-width: 768px)
{
    .soc-dashboard{
        grid-template-columns: 1fr;
    }
}
