html{
    font-family: Arial, sans-serif;
}


.firewall-toolbar{
    display: flex;
    background-color: #0f172a;
    color: white;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    
}

.menu-links{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 50px;
}

.menu-links li a{
    color: #38bdf8;
    text-decoration: none;
}
.btn-logout{
    background-color: #dc2626;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
   
}