:root{
    --primary-color: #0f172a;
    --accent-color: #3862f8;
    --text-color: #ffffff;
}


html{
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
}


.firewall-toolbar{
    display: flex;
    background-color:#2e2e2e85;
    color: var(--text-color);
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: #3862f8 solid 2px;
    
}

.menu-links{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 50px;
}

.menu-links li a{
    color: var(--accent-color);
    text-decoration: none;
}
.btn-logout{
    background-color: #dc2626;
    color: var(--text-color);
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer; 
}
a{
    text-decoration: none;
    color: #ffffff;
}